{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
<h1>Agency List</h1>

<table class="table table-dark table-striped table-hover table-sm">
  <thead>
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Name</th>
      <th scope="col">Agents</th>
      <th scope="col">Jobs</th>
    </tr>
  </thead>
  <tbody>
    {% for agency in agencies %}
        <tr class="clickable-row" data-href="{{request.route_url('agency_detail', agencyid=agency.id)}}">
            <td><a href="{{request.route_url('agency_detail', agencyid=agency.id)}}">{{agency.id}}</a></td>
            <td>{{agency.name}}</td>
            <td>{{agency.agents.__len__()}}</td>
            <td>{{agency.jobs.__len__()}}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>

</div>
{% endblock content %}
