{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
<h1>Agent List</h1>

<table class="table table-dark table-striped table-hover table-sm">
  <thead>
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Name</th>
      <th scope="col">Agency</th>
      <th scope="col">Jobs</th>
    </tr>
  </thead>
  <tbody>
    {% for agent in agents %}
        <tr>
            <td><a href="{{request.route_url('agent_detail', agentid=agent.id)}}">{{agent.id}}</a></td>
            <td>{{agent.name}}</td>
            <td><a href="{{request.route_url('agency_detail', agencyid=agent.agency.id)}}">{{agent.agency.name}}</a></td>
            <td>{{agent.jobs.__len__()}}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>

</div>
{% endblock content %}
