{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
<h1>Company Detail</h1>

<table class="table table-dark table-sm">
  <tbody>
    <tr>
      <th scope="row">No.</th>
      <td>{{company.id}}</td>
    </tr>
    <tr>
      <th scope="row">Name</th>
        <td>{{company.name}}</td>
    </tr>
    <tr>
      <th scope="row">Jobs</th>
      <td>
        <ul>
          {% for job in company.jobs %}
            <li>
              <a href="{{request.route_url('job_detail', jobid=job.id)}}">
                {{job.title}} ({{job.status.description}})
              </a>
            </li>
          {% endfor %}
          <li><a href="{{request.route_url('job_add', _query={'companyid':company.id}) }}"><button type="button" class="btn btn-dark btn-sm">Add</button></a></li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
<a href="{{request.route_url('company_edit', companyid=company.id)}}"><button type="button" class="btn btn-dark">Edit</button></a>
</div>
{% endblock content %}
