{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
<h1>Job Detail</h1>

<table class="table table-dark table-sm">
  <tbody>
    <tr>
      <th scope="row">No.</th>
      <td>{{job.id}}</td>
    </tr>
    <tr>
      <th scope="row">Added</th>
        <td>{{job.adddate.date()}}</td>
    </tr>
    <tr>
      <th scope="row">Ref</th>
        <td>{{job.reference}}</td>
    </tr>

    <tr>
      <th scope="row">Last Update</th>
        <td>{{job.changedate.date()}}</td>
    </tr>
    <tr>
      <th scope="row">Next Action</th>
        <td>{{job.nextaction.description}}</td>
    </tr>
    <tr>
      <th scope="row">Title</th>
        <td>{{job.title}}</td>
    </tr>
    <tr>
      <th scope="row">Type</th>
        <td>{{job.jobtype.description}}</td>
    </tr>
    <tr>
      <th scope="row">Salary</th>
        <td>{{job.salary}}</td>
    </tr>

    <tr>
      <th scope="row">Company</th>
        <td><a href="{{request.route_url('company_detail', companyid=job.company.id)}}">{{job.company.name}}</a></td>
    </tr>
    <tr>
      <th scope="row">Location</th>
        <td>{{job.location.description}}</td>
    </tr>

    <tr>
      <th scope="row">Ref</th>
        <td>{{job.reference}}</td>
    </tr>
    <tr>
      <th scope="row">Source</th>
        <td>{{job.source.description}}</td>
    </tr>
    <tr>
      <th scope="row">Agency</th>
        <td><a href="{{request.route_url('agency_detail', agencyid=job.agency.id)}}">{{job.agency.name}}</a></td>
    </tr>
    <tr>
      <th scope="row">Agents</th>
      <td>
        <ul>
          {% for agent in job.agents %}
            <li><a href="{{request.route_url('agent_detail', agentid=agent.id)}}">{{agent.name}}</a></li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <th scope="row">Status</th>
        <td>{{job.status.description}}</td>
    </tr>
    <tr>
      <th scope="row">Notes</th>
      <td>
        <ul>
        {% for note in job.job_notes %}
          <li>
            {{note.adddate.date()}} -
            <a href="{{request.route_url('agent_detail', agentid=note.agent.id)}}">{{note.agent.name}}</a> -
            {{note.data}}
          </li>
        {% endfor %}
        </ul>
      </td>
    </tr>
  </tbody>
</table>
<a href="{{request.route_url('job_edit', jobid=job.id)}}"><button type="button" class="btn btn-dark">Edit</button></a>
</div>
{% endblock content %}
