{% extends "layout.jinja2" %}



{% block content %}

{% from "macros/build_dropdown.jinja2" import build_dropdown with context %}
<div class="content">
<h1>{{ page_title }}</h1>
<form action="{{ save_url }}" method="post">

<div class="form-group row">
    <label for="inputtitle" class="col-sm-2 col-form-label col-form-label-sm">Title</label>
    <div class="col-sm-10">
      <input type="text" class="form-control form-control-sm" id="inputtitle"
             placeholder="Job Title" name="title" value="{{ job.title.value }}">
    </div>
    <label for="inputreference" class="col-sm-2 col-form-label col-form-label-sm">Reference</label>
    <div class="col-sm-10">
      <input type="text" class="form-control form-control-sm" id="inputreference"
             placeholder="Reference" name="reference" value="{{ job.reference.value }}">
    </div>

    <!-- Next Action -->
    {{ build_dropdown('nextaction','Next Action',nextactions,job.nextaction.id) }}
    <!-- Type -->
    {{ build_dropdown('type','Type',jobtypes,job.jobtype.id) }}

    <label for="inputsalary" class="col-sm-2 col-form-label col-form-label-sm">Salary</label>
    <div class="col-sm-10">
      <input type="text" class="form-control form-control-sm" id="inputsalary"
             placeholder="Salary" name="salary" value="{{ job.salary.value }}">
    </div>

    <!-- Company -->
    {{ build_dropdown('company','Company',companies,job.company.id) }}

    <!-- Location -->
    {{ build_dropdown('location','Location',locations,job.location.id) }}
    <!-- Source -->
    {{ build_dropdown('source','Source',sources,job.source.id) }}
    <!-- Agency -->
    {{ build_dropdown('agency','Agency',agencies,job.agency.id) }}
      {%if agents %}
        <!-- Agents ("detailed" edit) -->
        {{ build_dropdown('agent','Agent',agents,job.agent.id) }}
      {%endif%}
    <!-- Status -->
    {{ build_dropdown('status','Status',statuses,job.status.id) }}
      <!--- Notes ("detailed" edit) -->
</div>

<div class="form-group">
    <button type="submit" name="form.submitted" value="Save" class="btn btn-default">Save</button>
</div>
</form>



</div>

{% endblock content %}

{% block footerjs %}
    <script language="JavaScript">
  $(document).ready(function() {
      $('#inputagency').on('change', function() {
       // alert("agent selelected");
       agencyid = $('#inputagency').val()
       //alert("AID=" + agencyid);
    $.ajax({
        url     : "{{request.route_url('agent_list_jn')}}?agencyid="+ agencyid,
        type    : 'POST',
        dataType: 'json',
        success : function(data){

            alert("Success. Got the message:\n "+ JSON.stringify(data))
        },
        error : function(xj, status, error){
            alert("Something went wrong "+status + " <-> " + error)
        }

    });
      });
  });
</script>

{% endblock footerjs %}