{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
<h1>Job List</h1>
<div class="table-responsive">
<table class="table table-dark table-striped table-hover table-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Added</th>
      <th scope="col">Last Update</th>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Company</th>
      <th scope="col">Ref</th>
      <th scope="col">Source</th>
      <th scope="col">Agency</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    {% for job in jobs %}
        <tr>
            <th scope="row"><a href="{{request.route_url('job_detail', jobid=job.id)}}">{{job.id}}</a></th>
            <td>{{job.adddate.date()}}</td>
            <td>{{job.changedate.date()}}</td>
            <td>{{job.title}}</td>
            <td>{{job.jobtype.description}}</td>
            <td><a href="{{request.route_url('company_detail', companyid=job.company.id)}}">{{job.company.name}}</a></td>
            <td>{{job.reference}}</td>
            <td>{{job.source.description}}</td>
            <td><a href="{{request.route_url('agency_detail', agencyid=job.agency.id)}}">{{job.agency.name}}</a></td>
            <td>{{job.status.description}}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</div>
{% endblock content %}
